<<<<<<< HEAD
header {

    display: flex;
    justify-content:space-around;

}
nav a {
    
    padding-right: 15px;
    margin-bottom: 10px;



}
#hamberger {

        margin-top: 30px;

=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html,
body {

    height: 100%;
    width: 100%;
>>>>>>> master

}

#main {
<<<<<<< HEAD

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {

    width: 200px;
    height: 50px;
    background-color: #851212;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
=======
    height: 100%;
    width: 100%;
    background-color: #222;


}

#nav a {
    color: #fff;
    text-decoration: none;
>>>>>>> master
}