header {

    display: flex;
    justify-content:space-around;

}
nav a {
    
    padding-right: 15px;
    margin-bottom: 10px;



}
#hamberger {

        margin-top: 30px;


}

#main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {

    width: 200px;
    height: 50px;
    background-color: #851212;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
}