*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html,
body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background: #000;
    color: azure;
}

#nav{
    padding: 30px 70px;
}


#nav a{
    color: rgb(243, 247, 247);
    font-size: 25px;
    text-decoration: none;
    margin-right: 30px;

}

#main>h1{
    font-size: 285px;
    font-weight:400 ;
    padding-left: 100px;
}

#bottom-left{
    position: absolute;
    left: 8%;
    bottom: 9%;
    width: 300px;
}

#bottom-left h3{

    font-size: 20px;

}
#bottom-left p{
    font-size: 15px;
    margin-top: 5px;
}

#bottom-left h4{

    margin-top: 20px;



}

#bottombar {
    position: absolute;
    padding: 30px 70px;
    bottom: 0;
    left: 0;

